
footer {
    .logo {
        color: $lightRed;
    }
    nav {
        margin-bottom: 15px;
        a {
            color: $brownishGrey;
            display: block;
            margin-bottom: 15px;
        }
    }
}